section#partners.partners
  h3.partners--title Quem nos ajuda a inspirar pessoas
  ul.partners--logos
    li.partner--logo
      img(src="img/partners/clinks.svg", alt="Logo tipo do parceiro: Clinks")