.partners {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin: auto;

  &--title {
    font-family: $font-family--title;
    font-size: .7rem;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 3px;

    margin-top: 1rem;
    margin-bottom: 1rem;

    color: white;

    opacity: .7;
  }
  &--logos {
    display: flex;
    justify-content: center;
  }
}

.partner--logo {
  max-width: 100px;
  margin: 1rem 2rem;
  
  img {
    opacity: .7;
  }
}