:root {
  /** Base Properties */
  --base-font-family: 'Heebo', Arial, Helvetica, sans-serif;
  --base-font-size: 18px;
  --base-line-height: 1.6;

  /** Title Properties */
  --title-font-family: 'Barlow Condensed', Arial, Helvetica, sans-serif;
  --title-font-size: calc(var(--base-font-size) * 4.44);
  --title-line-height: 1;
}

body {
  font-family: var(--base-font-family);
  font-size: var(--base-font-size);
  font-weight: 300;
  line-height: var(--base-line-height);
}

.hidden-title {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: -3000000px;
}

/**
 * Typography Settings
 */

/* Titles */
.title {
  font-family: var(--title-font-family);
  font-weight: 700;
  text-transform: uppercase;
  line-height: var(--title-line-height);
}
.title.--big { font-size: var(--title-font-size); }
.title.--normal { font-size: calc(var(--title-font-size) * .6); }
.title.--small { font-size: calc(var(--title-font-size) * .3); }

/* Text */
.text {
  font-family: var(--base-font-family);
  font-size: var(--base-font-size);
  font-weight: 300;
}
.text.--normal { font-size: var(--base-font-size); }
.text.--small { font-size: calc(var(--base-font-size) * .8); }

/* Links */
.link {
  display: inline-block;
  font-weight: 400;
}
.--button {
  font-family: var(--title-font-family);
  font-size: calc(var(--base-font-size) * .8);
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
}

/**
 * Color Settings
 */

.--black { color: black; }
.--white { color: white; }
.--dark-gray { color: #555; }
.--red { color:#E22C4B; }

/**
 * Main
 */

.main {}

.cover {
  position: relative;
  height: 100vh;
  min-height: 740px;
  max-height: 900px;

  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 5em 0;

  background-image: url(img/cover--bg.jpg);
  background-size: cover;
  background-position: bottom center;
}

.cover-texts {
  max-width: 840px;
  margin: 2.4em auto;

  text-align: center;
}

.videos {
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;
  
  padding: 5em 0 10em;
  
  background-image: url(img/video--bg.jpg);
  background-size: cover;
  background-position: center;
}

.latest-video {
  position: relative;

  min-height: 315px;
  min-width: 560px;

  width: 100%;
  height: auto;
  
  max-height: 441px;
  max-width: 700px;
  
  margin-top: -7em;
}

.latest-video .video-frame,
.latest-video .video-preview {
  position: absolute;

  background-color: #333;
  background-image: url(img/video-preview--bg.jpg);
  background-size: cover;
  background-position: center;
  box-shadow: 0 12px 42px rgba(0,0,0,.25);

  visibility: hidden;
  opacity: 0;
}
.latest-video .video-frame.active,
.latest-video .video-preview.active {
  visibility: visible;
  opacity: 1;
}

.video-preview {
  width: 100%;
  min-height: 400px;

  display: flex;

  padding: 3em 2em;
}

.video-preview .texts {
  max-width: 50%;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.video-preview .series-logo {
  max-width: 100px;
  margin-bottom: .4em;
}
.video-preview .title,
.video-preview .text,
.video-preview .link {
  margin-bottom: .4rem;
}

.video-preview .link {
  display: flex;
  align-items: center;

  margin-top: 1em;
}

.video-preview .link .play-button {
  margin-right: 12px;
}