//- Categories
//-
//- Responsible to hold each category information.

-
  var categories = {
    "raiox": {
      "name": "Raio-X",
      "img": {
        "black": "/img/logos/logo-serie--raio-x--black.svg",
        "white": "/img/logos/logo-serie--raio-x--white.svg",
      }
    },
    "estudodecaso": {
      "name": "Estudo de Caso",
      "img": {
        "black": "/img/logos/logo-serie--estudo-de-caso--black.svg",
        "white": "/img/logos/logo-serie--estudo-de-caso--white.svg",
      }
    },
    "semfronteiras": {
      "name": "Sem Fronteiras",
      "img": {
        "black": "/img/logos/logo-serie--sem-fronteiras--black.svg",
        "white": "/img/logos/logo-serie--sem-fronteiras--white.svg",
      }
    },
    "linhadotempo": {
      "name": "Linha do Tempo",
      "img": {
        "black": "/img/logos/logo-serie--linha-do-tempo--black.svg",
        "white": "/img/logos/logo-serie--linha-do-tempo--white.svg",
      }
    }
  }