-
  var featured = {
    "title": "Wendell Carvalho",
    "description": "Inspire-se com a visão de vida do especialista em mudança comportamental e estratégias para atingir metas.",
    "category": categories.raiox, /* - Category referenced from: /views/_data/categories.pug */
    "bg": "/img/featured/featured-bg--wendell-carvalho.jpg",
  }