//-----------------------------------------
//-     PARTNERS DATABASE
//-     Type: Child
//- 
//-     Responsible to hold each partner information. There is no link in the Partners Database.
//-
//-    PARTNERS ARRAY:
//-    * Name: Name of the company
//-    * Logo: The company's logo
//-
//-----------------------------------------

-
  var partners = [
    {
      "name": "Clinks",
      "logo": "clinks--white",
    },{
      "name": "Clinks",
      "logo": "clinks--white",
    },{
      "name": "Clinks",
      "logo": "clinks--white",
    },{
      "name": "Clinks",
      "logo": "clinks--white",
    },{
      "name": "Clinks",
      "logo": "clinks--white",
    },{
      "name": "Clinks",
      "logo": "clinks--white",
    },
  ]